html{
    height: 100%;
    width: 100%;
}
body{
    width: 90%;
    height: 90%;
    margin: 1% auto;
    background-color: gray;
    border: 2px solid black;

}

#pokemon{
    width: 65%;
    height: 90%;
    background-color: bisque;
    float: left;
    margin: 2%;
    padding: 1%;
    overflow: scroll;
}

#pokedex{
    width: 20%;
    height: 50%;
    float: left;
    margin: 2%;
    background-color: brown;
    color: white;
    text-align: left;
    padding: 1%;
}

#pokedex h2{
    text-transform: capitalize;
}

